<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Timesheets</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button> -->


      <ion-item-sliding  *ngFor="let item of items | async | reverse">

        {{item.hospital}}

      


        <ion-item   (click)="itemTapped($event, item)" detail>
          
            <h2>   {{item.hospital}}</h2>
            <p>  {{item.monthOf}}</p>
            <button (click)="your_function_name()" ion-button clear item-end>
                <ion-icon name="arrow-round-forward"></ion-icon>
              </button>
          </ion-item>


        <ion-item-options side="left">
            <!-- <button ion-button color="primary" (click)="tbd()">
              <ion-icon name="text"></ion-icon>
              Text
            </button>
            <button ion-button color="secondary"  (click)="tbd()">
              <ion-icon name="call"></ion-icon>
              Call
            </button> -->
            <button ion-button color="danger"  (click)="presentAlertConfirm(item)">
                <ion-icon name="trash"></ion-icon>
                Delete
              </button>
          </ion-item-options>
          <ion-item-options side="right">
            <button ion-button color="danger"  (click)="presentAlertConfirm(item)">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
          </ion-item-options>
    </ion-item-sliding>

  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>

  <ion-fab bottom right>
    <button id="createButton" ion-fab color="primary" (click)="openTimesheetModal()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
