<ion-header>
  <ion-navbar color='primary'>
    <ion-title>Entry Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <ion-card>
    <ion-card-header>
      <ion-item class="mycolor">
        <ion-icon name="medkit" item-start large></ion-icon>
        <h2>Hospital: {{hospital}}</h2>
      </ion-item>
    </ion-card-header>

    <form #companyForm="ngForm">

      <ion-item >
        <ion-label position="stacked">Date : </ion-label>
        <ion-datetime class="form-control" name="entry-date" display-format="MM/YYYY" picker-format="MMMM YYYY"
          [(ngModel)]="entryDate" required></ion-datetime>
      </ion-item>

      <ion-row>
        <ion-col col-9>
            <ion-item >
                <ion-label position="stacked">Duty No : </ion-label>
                <ion-input type="number" class="form-control" name="duty-no" ngModel #nameField="ngModel" [(ngModel)]="dutyNo"
                  required></ion-input>
              </ion-item>
        </ion-col>

        <ion-col col-3>
            <button (click)="openDuties()" ion-button icon-start>
                <ion-icon name="search"></ion-icon>

              </button>
        </ion-col>
      </ion-row>

      <ion-item >
        <ion-label position="stacked">Expended Time (hrs) : </ion-label>
       
        <ion-input type="number" class="form-control" name="expended-time" ngModel #nameField="ngModel"
          [(ngModel)]="expendedTime" required></ion-input>
      </ion-item>



    

      <ion-item >
        <ion-label position="stacked">Activity : </ion-label>
        <ion-textarea type="text-area" class="form-control" name="activities" ngModel #nameField="ngModel"
          [(ngModel)]="activities" required minlength="8"></ion-textarea>
      </ion-item>
    </form>

    <ion-row>
      <ion-col>
        <button ion-button full block color="danger" (click)="dismiss()">
          <ion-icon name="close"></ion-icon>&nbsp;&nbsp;Cancel
        </button>

      </ion-col>
      <ion-col>
        <button *ngIf="!updateMode" ion-button full block color="primary" (click)="addEntry()"
          [disabled]="!companyForm.valid">
          <ion-icon name="checkmark-circle-outline"></ion-icon>&nbsp;&nbsp;Add
        </button>
        <button *ngIf="updateMode" ion-button full block color="primary" (click)="updateEntry()"
          [disabled]="!companyForm.valid">
          <ion-icon name="checkmark-circle-outline"></ion-icon>&nbsp;&nbsp;Save
        </button>

      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>