<ion-menu [content]="content">
  <ion-header >
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="card-background-page">


      <ion-card *ngIf='loggedinUser != null'>
        <ion-row>
          <ion-col col-2>&nbsp;</ion-col>
          <ion-col col-8><img style="border-radius:50%" src="{{loggedinUser.photoURL}}" alt=""></ion-col>
          <ion-col col-2>&nbsp;</ion-col>
        </ion-row>
          
          <!-- <div class="card-title">{{accountDetail?.account?.attributes?.givenName}} {{accountDetail?.account?.attributes?.lastName}}</div>÷ -->
          <div class="card-title">{{loggedinUser.name}}</div>
          <div class="card-subtitle">{{loggedinUser.email}} </div>

          <p>&nbsp;</p>
          <hr/>
        </ion-card>



    <ion-list *ngIf='loggedinUser != null'>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon item-left name="{{p.icon}}"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>